tensorflow
stable-baselines3
yfinance
streamlit
stockstats
matplotlib
plotly
simfin
pymongo==3.10.0
gym
selenium==3.141
openpyxl
pandas
polygon
finnhub-python
websocket-client
twelvedata[pandas,matplotlib,plotly,websocket-client]
fhub
robin_stocks
openai
odo
duka
apscheduler